@import "./dark_mode.scss";

i.bi.bi-sun-fill {
    color: #fdb813;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background: inherit;
}